{% extends "home2.html" %}
{% block head %}
<link rel="stylesheet" type="text/css"
    href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
 
<link rel="stylesheet" href="{{url_for('static',filename='leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.css')}}" /> 
    <style>

    #mapid { width: 750px;height: 450px;position: right }

    </style>   
{{ super() }}
{% endblock %}
{% block content %} 
         <div class="row">
             <div class="col-sm-2"></div>
             <div class="col-sm-7">
                 <div id="mapid">         
                    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
                       integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
                       crossorigin=""></script>      
                     <script src="{{url_for('static',filename='leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.js')}}"></script>
                 </div>                  
             </div>                          
             <div class="col-sm-3">                 
                 <form action="" id="formulario">                     
                     <div class="form-group">
                         <label class="font-weight-bold">Selecionar inicio</label><br>
                         <button id="selInicio" class="btn btn-success" onClick="seleccionarInicio()">definir inicio</button><br>
                         <div id="mensage">
                            <label><h3>Seleccione la ubicación de inicio en el mapa</h3></label><br>                             
                         </div>
                         <div id="mensage2">
                            <label><h3>Seleccione el nucleo de destion</h3></label><br>
                         </div>                                                  
                         <label class="font-weight-bold">Nucleo de destino</label><br>
                         <select id="nucleoDestino" class="form-control"></select><br>
                         <button id="btn-limpiar"class="btn btn-danger" onClick="limpiar()">Limpiar Ruta</button>
                     </div>                                              
                 </form>
             </div>                            
         </div>
     

{% endblock %}
{% block jsmas%}
<script>//34°55'18.0 57°57'17.1 -34.883361, -57.881663
    var mymap;
    var nucleosPoss;
    var seleccionInicio = false;
    var inicio = null;
    var control = null;

    $(document).ready(function () { 
        mymap = L.map('mapid').setView([-34.883361, -57.881663], 15);
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);           
                                

        nucleosPoss = {{nucleosPoss|tojson}};//nucleos y sus pocisiones
        nucleosPoss = JSON.parse(nucleosPoss);              
        //marcar todos los nucleos que ya tienen localizacion
        plotearNucleos();        
        agregarOpciones('nucleoDestino');              
        $('#formulario').on('submit', function(e){e.preventDefault()});
        $('#nucleoDestino').prop('disabled',true);
        $('#btn-limpiar')[0].disabled = true;
        $('#selInicio')[0].disabled = true;
        $('#mensage')[0].hidden = true;
        $('#mensage2')[0].hidden = true;
        control = L.Routing.control({
          waypoints: [],
          language:'es'
        }).addTo(mymap);

        nucleosPoss.forEach(function(item){                        
            if(item.latitud != null && item.longitud != null){
                $('#selInicio')[0].disabled = false;
            }  
        });
        
        function onMapClick(e) {            
            if(seleccionInicio){                
                inicio = e.latlng;
                $('#nucleoDestino').prop('disabled',false);                
                $('#mensage')[0].hidden = true;
                $('#mensage2')[0].hidden = false;
                calcularRuta();
            }
        }
        mymap.on('click', onMapClick);                        
        $('#nucleoDestino').on('change',seleccionarDestino);
        
    });
    
    function plotearNucleos(){
        nucleosPoss.forEach(function(item){
          if(item.latitud != null && item.longitud != null)
          {
            let marker = L.marker([item.latitud, item.longitud]);
            marker.bindPopup("nombre: " + item.nombre + "<br> direccion: "+ item.direccion + "<br> telefono:" + item.telefono ).openPopup();
            marker.addTo(mymap);
          }           
        });
    }

    function agregarOpciones(id){
        let option = document.createElement('OPTION');
        let text = document.createTextNode("Selecione una opcion");
        option.appendChild(text);
        option.value = 0;            
        document.getElementById(id).appendChild(option);
        for(i = 0; i< nucleosPoss.length; i++){
            if(nucleosPoss[i].latitud != null && nucleosPoss[i].longitud != null){
                let option = document.createElement('OPTION');
                let text = document.createTextNode(nucleosPoss[i].nombre + " " + nucleosPoss[i].direccion);
                option.appendChild(text);
                option.value = nucleosPoss[i].id;            
                document.getElementById(id).appendChild(option);    
            }
        }
    }

    function seleccionarInicio(){
        seleccionInicio = true;
        $('#mensage')[0].hidden = false;
    }
    function calcularRuta(){
        control.spliceWaypoints(0,1,inicio);           
    }

    function seleccionarDestino(){        
        $('#mensage2')[0].hidden = true;
        let nucleo = null;
        let id =  $('#nucleoDestino').val();        
        nucleosPoss.forEach(function(item){
            if(item.id == id){nucleo = item}
        });
        let latlng = [nucleo.latitud, nucleo.longitud];
        control.spliceWaypoints(1,1,latlng);            
        seleccionInicio = false;
        $('#nucleoDestino').prop('disabled',true);
        $('#btn-limpiar')[0].disabled = false;             
    }

    function limpiar(){
        control.setWaypoints(null);
        $('#nucleoDestino').val(0);
        $('#btn-limpiar')[0].disabled = true;
    }


</script>
{% endblock %}